HumanPoweredVm(
    fields: {
        "X1": FieldData(
            ty: CellRef,
            aliases: ["A1"],
        ),
        "X2": FieldData(
            ty: CellRef,
            aliases: ["A2"],
        ),
        "X3": FieldData(
            ty: CellRef,
            aliases: ["A3"],
        ),
        "X4": FieldData(
            ty: CellRef,
            aliases: ["A4"],
        ),
        "mode": FieldData(
            ty: AnyCellVal,
            aliases: [],
        ),
        "structure_ptr": FieldData(
            ty: AnyCellVal,
            aliases: ["S"],
        ),
    },
    instr_ptr: 0,
)