SaveData(
    fields: {
        "X1": FieldData(
            ty: CellRef,
            default: None,
            aliases: [
                "A1",
            ],
        ),
        "X2": FieldData(
            ty: CellRef,
            default: None,
            aliases: [
                "A2",
            ],
        ),
        "X3": FieldData(
            ty: CellRef,
            default: None,
            aliases: [
                "A3",
            ],
        ),
        "X4": FieldData(
            ty: CellRef,
            default: None,
            aliases: [
                "A4",
            ],
        ),
        "heap_ptr": FieldData(
            ty: CellRef,
            default: None,
            aliases: [
                "H",
                "hp",
            ],
        ),
        "instr_ptr": FieldData(
            ty: Usize,
            default: Some(Usize(0)),
            aliases: [
                "P",
                "ip",
            ],
        ),
        "mode": FieldData(
            ty: Symbol,
            default: Some(Symbol("read")),
            aliases: [],
        ),
        "structure_ptr": FieldData(
            ty: CellRef,
            default: None,
            aliases: [
                "S",
            ],
        ),
    },
    preferred_editor: Some("notepad.exe"),
    array_decls: {
        0: Array(
            name: "trail",
            len: 128,
        ),
    },
)