Scenario(
    description: "
        d(U*V, X, DU*V+U*DV) :-
            d(U, X, DU),
            d(V, X, DV).

        ?- d(x*y, x, D).
    ",

    setup: [
        "A1 <- tm '*'(x, y)",
        "A2 <- tm x",
        "A3 <- tm D",
        "S  <- A1"
    ],

    program: [
        GetStructure(1, Functor(sym: "*", arity: 2)),
        UnifyVariable(Reg(1)),
        UnifyVariable(Local(1)),
        GetVariable(Local(2), 2),
        GetStructure(4, Functor(sym: "+", arity: 2)),
        UnifyVariable(Reg(4)),
        UnifyVariable(Reg(5)),
        GetStructure(4, Functor(sym: "*", arity: 2)),
        UnifyVariable(Reg(3)),
        UnifyValue(Local(1)),
        GetStructure(5, Functor(sym: "*", arity: 2)),
        UnifyValue(Reg(1)),
        UnifyVariable(Local(3)),
        Call(lbl: Functor(sym: "d", arity: 3), nvars_in_env: 3),
        PutValue(var_addr: 1, arg: 1),
        PutValue(var_addr: 2, arg: 2),
        PutValue(var_addr: 3, arg: 3),
        Execute(Functor(sym: "d", arity: 3)),
    ]
)